@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>BaristaStop</h1>
    <h3>Your Ultimate Destination for Coffee and Tea Enthusiasts!</h3>
    <div className="description">
        <h6>
                Welcome to BaristaStop, where every sip tells a story! Whether you're a seasoned barista or a curious coffee aficionado, BaristaStop is your go-to hub for all things caffeinated. Dive into our extensive collection of beverage recipes, meticulously crafted to tantalize your taste buds and elevate your brewing game.
                Discover the rich heritage and intricate flavors behind every cup with our in-depth product information. From the origins of Arabica coffee beans to the nuances of different tea varieties, BaristaStop provides a wealth of knowledge to enhance your appreciation of every sip.
                Join our vibrant community of beverage enthusiasts, where you can share tips, tricks, and brewing techniques. Whether you're seeking the perfect espresso recipe or craving a refreshing iced tea blend, BaristaStop is your trusted companion on your journey to beverage excellence.
                <br />
                Stop by BaristaStop today and embark on a sensory adventure through the world of coffee and tea!
            </h6>
    </div>
</div>
